@font-face {
  font-family: "CosiAzure";
  src: url("../../assets/Fonts/CosyAzure/CosiAzure-Bold/CosiAzure-Bold.woff2") format("woff2");
}
.home {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  height: auto;
  padding-bottom: 10vh;
}
.home .intro {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
}
.home .intro .intro-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 80vh;
  width: 100%;
  flex-direction: column;
  margin: 0 auto;
}
@keyframes showTopText {
  0% {
    transform: translate3d(0, 100%, 0);
  }
  40%, 60% {
    transform: translate3d(0, 50%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes showBottomText {
  0% {
    transform: translate3d(0, -100%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
.home .intro .animated-title {
  position: absolute;
  color: #7D80DA;
  font-family: "CosiAzure", sans-serif;
  height: 80vmin;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90vmin;
}
.home .intro .animated-title > div {
  height: 50%;
  overflow: hidden;
  position: absolute;
  width: 100%;
}
.home .intro .animated-title > div div {
  font-size: 10vmin;
  padding: 2vmin 0;
  position: absolute;
}
.home .intro .animated-title > div div span {
  display: block;
}
.home .intro .animated-title > div.text-top {
  display: flex;
  justify-content: center;
  border-bottom: 1vh solid #a3a3a3;
  top: 0;
}
.home .intro .animated-title > div.text-top div {
  animation: showTopText 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  bottom: 0;
  transform: translate(0, 100%);
}
.home .intro .animated-title > div.text-top div span:first-child {
  color: #a3a3a3;
}
.home .intro .animated-title > div.text-bottom {
  display: flex;
  justify-content: center;
  bottom: 20px;
}
.home .intro .animated-title > div.text-bottom div {
  animation: showBottomText 0.5s;
  animation-delay: 1.75s;
  animation-fill-mode: forwards;
  top: 0;
  transform: translate(0, -100%);
}
.home .intro .animated-title > div.text-bottom div p {
  font-size: 6vmin;
}
.home .intro .bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 60vh;
  width: 100%;
}
.home .intro .bottom .bottom-left {
  display: flex;
  text-align: start;
  align-items: center;
  gap: 2rem;
  width: auto;
  background-color: #a3a3a3;
  padding: 1% 2% 1% 1%;
  border-radius: 0 4vh 4vh 0;
}
.home .intro .bottom .bottom-left p {
  font-size: 1.1rem;
  font-weight: bold;
  color: #090809;
}
.home .intro .bottom .bottom-left i {
  font-size: 2rem;
}
.home .intro .bottom .bottom-right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 80px;
  width: 80px;
  font-weight: bold;
  font-size: 1.1rem;
  background-color: #7D80DA;
  padding: 1%;
  margin-right: 5vw;
  border-radius: 50%;
}
.home .intro .bottom .bottom-right a {
  color: #090809;
  text-decoration: none;
}/*# sourceMappingURL=Home.css.map */